RPC_URL=

FACILITATOR_URL=
SERVER_URL=

CHAIN_ID=8453

# Server just receives funds, no private key needed.
SERVER_WALLET_ADDRESS=<SERVER_WALLET_DDRESS>
CLIENT_WALLET_ADDRESS=<CLIENT_WALLET_ADDRESS>
CLIENT_WALLET_PRIVATE_KEY=<CLIENT_WALLET_PRIVATE_KEY>
FACILITATOR_WALLET_ADDRESS=<FACILITATOR_WALLET_ADDRESS>
FACILITAOTR_WALLET_PRIVATE_KEY=<FACILITATOR_PRIVATE_KEY>

# Only for setup/delete_vnet.py
TENDERLY_API_KEY=<TENDERLY_API_KEY>
TENDERLY_ORG=<TENDERLY_ORG>
TENDERLY_PROJECT=<TENDERLY_PROJECT>
