RPC_URL=https://virtual.base.rpc.tenderly.co/<TENDERLY_VNET_ID>
WALLET_PRIVATE_KEY=<FACILITATOR_PRIVATE_KEY>

# Only for setup/delete_vnet.py
TENDERLY_API_KEY=<TENDERLY_API_KEY>
TENDERLY_ORG=<TENDERLY_ORG>
TENDERLY_PROJECT=<TENDERLY_PROJECT>
SERVER_WALLET_ADDRESS=<SERVER_WALLET_DDRESS>
CLIENT_WALLET_ADDRESS=<CLIENT_WALLET_ADDRESS>
FACILITATOR_WALLET_ADDRESS=<FACILITATOR_WALLET_ADDRESS>
